.profile-main-container {
  margin: 20px 50px;
  display: flex;
  .left-container {
    flex: 1 0 20%;
    border: 1px solid;
    padding: 20px;
  }
  .right-container {
    flex: 1 0 70%;
    border: 1px solid;
    padding: 20px;
    .actions {
      margin: 10px 0px;
    }
  }
}
.bills-main-container-header {
  padding: 10px;
  text-align: center;
}
.budget-details {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
}
.budget-container {
  padding: 20px;
}
.bills-list-container {
  display: flex;
  flex-wrap: wrap;
}
.empty-view {
  text-align: center;
  padding: 50px;
  font-size: 18px;
}
.view-time-series {
  text-align: end;
  padding-top: 20px;
}
.add-bill-btn {
  margin-right: 10px !important;
}