.profile-main-container {
  margin: 0px 50px 0px;
  display: flex;
  padding: 20px 0px;
  .left-container {
    flex: 1 0 20%;
    padding: 20px;
  }
  .right-container {
    flex: 1 0 70%;
    padding: 0px 20px;
    margin-top: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    .actions {
      margin: 10px 0px;
    }
  }
}
.bills-main-container-header {
  padding: 10px;
  text-align: center;
}
.budget-details {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px 20px;
  .label {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}
.budget-container {
  padding: 20px;
}
.bills-list-container {
  display: flex;
  flex-wrap: wrap;
}
.empty-view {
  text-align: center;
  padding: 50px;
  font-size: 18px;
}
.view-time-series {
  text-align: end;
  padding-top: 20px;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: blue;
  }
}
.add-bill-btn {
  margin-right: 10px !important;
}