.single-bill-container {
  padding: 15px 10px;
  position: relative;
  width: 30%;
  border: 1px solid darkgrey;
  margin-right: 10px;
  margin-bottom: 10px;
  &.optimal-payment {
    background-color: aliceblue;
  }
  .bill-desc {
    font-size: 16px;
    overflow: hidden;
    width: 60%;
    text-overflow: ellipsis;
  }
  .bill-category {
    font-size: 14px;
    color: grey;
  }
  .bill-amount {
    padding-top: 10px;
    font-size: 15px;
  }
  .bill-date {
    font-size: 12px;
  }
  .action-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}