.single-bill-container {
  padding: 15px 10px;
  position: relative;
  &:nth-child(odd) {
    background-color: aliceblue;
  }
  &.optimal-payment {
    border: 2px solid green;
  }
  .bill-desc {
    font-size: 16px;
  }
  .bill-category {
    font-size: 14px;
    color: grey;
  }
  .bill-amount {
    padding-top: 10px;
    font-size: 15px;
  }
  .bill-date {
    font-size: 12px;
  }
  .action-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}