.filters-view {
  .filter-header {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .filter-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    &.selected, &:hover {
      background-color: lightgoldenrodyellow;
    }
  }
}