.filters-view {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 15px;
  .filter-header {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .filter-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    &.selected, &:hover {
      background-color: lightgoldenrodyellow;
    }
  }
}